<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071401114588-iuvdggu45k1la52d0tdu2c8rso9h8grl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071401114588-iuvdggu45k1la52d0tdu2c8rso9h8grl</string>
	<key>API_KEY</key>
	<string>AIzaSyB_Iz_HWlX3m6rPBcfXM-57vqKtvwef_Mk</string>
	<key>GCM_SENDER_ID</key>
	<string>1071401114588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>joc.EmergencyAlertApp</string>
	<key>PROJECT_ID</key>
	<string>emergencyalertapp</string>
	<key>STORAGE_BUCKET</key>
	<string>emergencyalertapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071401114588:ios:1e530a5a971b7c93</string>
	<key>DATABASE_URL</key>
	<string>https://emergencyalertapp.firebaseio.com</string>
</dict>
</plist>